.heading-1 {
  font-size: 4rem;
}

.heading-2 {
  font-size: 2.5rem;

  &--lg {
    font-size: 4.8rem;
    color: #fff;
  }
}

.heading-3 {
  font-size: 1.9rem;
  max-width: 50rem;
  margin: 0 auto;
}

.heading-4 {
  font-size: 2.2rem;

}

.btn:link,
.btn:visited {
  font-size: 1.5rem;
  text-decoration: none;
  font-family: inherit;
  display: inline-block;
  padding: 1.2rem 3.2rem;
  color: #fff;
  border-radius: 5px;

  &:hover {
    transform: scale(.98);
  }
}

.btn--outline {
  border: 1px solid #fff;
}

.btn--dark {
  background-color: $color-primary-dark;
}

.btn--primary {
  background-color: $color-primary;
}

//--------------SHOWCASE---------------
.showcase {
  max-width: 110rem;
  margin: 0 auto;
  padding: 0 4rem;
  padding-top: 2rem;

  display: grid;
  grid-template-columns: 6fr 4fr;
  grid-column-gap: 2.9rem;
  align-items: center;

  @include respond(tab-land) {
    grid-template-columns: 1fr;
  }

  @include respond(phone) {
    padding: .5rem;
  }

  &__textbox {
    color: #fff;
    animation: moveInRight 1s ease-in backwards;

    @include respond(tab-land) {
      text-align: center;

      animation: moveInBottom 1s ease-in backwards;
    }

    @include respond(phone) {
      margin-top: 3rem;
  
    }
  }

  &__text {
    font-size: 1.6rem;
    margin-bottom: 1.5rem;
  }

  &__form-box {
    background-color: #fff;
    padding: 4rem;
    border-radius: 9px;
    transform: translateY(20%);
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
    z-index: 2;
    animation: moveInLeft 1s ease-in backwards;

    @include respond(tab-land) {
      width: 40rem;
      justify-self: center;

      animation: moveInTopForm 1s ease-in backwards  ;
      
    }

    @include respond(phone) {
      width: 35rem;
    }
  }

  &__input {
    width: 100%;
    margin-bottom: 3rem;
    border: none;
    border-bottom: 1px solid #b4becb;
    padding: 3px;
    outline: none;

    &::placeholder {
      font-size: 1.6rem;
    }

  }

  &__submit {
    border: none;
    border-radius: none;
    background-color: $color-primary;
    color: #fff;
    padding: 1rem 2rem;
    border-radius: 5px;
    cursor: pointer;

    &:hover {
      transform: scale(.98);
    }
  }

}

//--------------STATS---------------

.stats {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  grid-row-gap: 3rem;

  &__box {
    text-align: center;
  }

  &__icon {
    font-size: 5rem;

  }

  &__number {
    font-size: 3.5rem;
    font-weight: bold;
    margin-bottom: 1.5rem;
  }

  &__desc {
    font-size: 2rem;
    color: $color-secondary;
    font-weight: 600;
  }
}

//--------------INSTALL---------------
.install {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  align-items: center;
  justify-content: center;
  grid-gap: 2rem;

  @include respond(tab-land) {
    grid-template-columns: 1fr;
  
  }

  &__npm {
    grid-column: 1 / 3;
    grid-row: 1 / -1;
    width: 100%;

    @include respond(tab-land) {
      grid-column: 1/-1;
    
    }
  }

  &__desc {
    background-color: #fff;
    color: #333;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
    font-size: 1.9rem;
    font-weight: bold;
    line-height: 1;
    padding: 2.3rem 2rem;
    margin: 1rem;

    display: flex;
    align-items: center;
    border-radius: 9px;

    @include respond(phone) {
      padding: 2.3 .5rem;
    
    }

  }
}

//--------------CLOUD---------------
.cloud {
  display: grid;
  grid-template-columns: 4fr 3fr;
  align-items: center;

  @include respond(phone) {
    grid-template-columns: 1fr;
  
  }


  &__text-box {
    text-align: center;

    @include respond(phone) {
      margin-bottom: 3rem;
    
    }
  }

  &__text {
    font-size: 2rem;
    color: #fff;
    margin-bottom: 2rem;
  }

  &__img {
    width: 100%;

    @include respond(phone) {
      width: 80%;
      justify-self: center;
    
    }
  }
}

//--------------LANGUAGES---------------
.languages {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(12rem, 1fr));
  grid-column-gap: 2rem;
  grid-row-gap: 3rem;


  &__box {
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
    display: grid;
    justify-items: center;
    padding: 2rem;
    border-radius: 9px;
    transition: transform .2s ease-in;
    justify-self: center;

    &:hover {
      transform: translateY(-1.5rem);

    }

  }

  &__logo {
    width: 90%;

    @include respond(phone) {
      width: 70%;
    }
  }

  &__heading {
    margin-bottom: 1rem;
    font-size: 1.9rem;
  }
}

.heading-languages {
  margin-bottom: 3rem;
  font-size: 3rem;
}

//--------------FEATURES PAGE---------------

//--------------FEATURES---------------
.features {

  &__container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    grid-column-gap: 2rem;
    grid-row-gap: 3rem;
    align-items: center;

    
  @include respond(tab-land) {
   grid-template-columns: 1fr; 
  }
  }

  &__heading {
    font-size: 6.5rem;
  }

  &__text-box {
    color: #fff;

    @include respond(tab-land) {
      text-align: center;
     }
  }

  &__text {
    font-size: 2rem;
  }

  &__img {
    width: 40%;
    justify-self: end;

    @include respond(tab-land) {
      justify-self: center; 
     }
  }

}

//--------------FEATURES-SUB---------------
.features-sub {

  &__container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    grid-column-gap: 2rem;
    grid-row-gap: 3rem;
    align-items: center;

    @include respond(tab-land) {
      grid-template-columns: 1fr; 
     }
  }

  &__heading {
    font-size: 3.2rem;
  }

  &__text-box {
    @include respond(tab-land) {
      text-align: center;
     }
  }

  &__text {
    font-size: 1.6rem;
  }

  &__img {
    width: 60%;
    justify-self: end;

    @include respond(tab-land) {
      justify-self: center; 
     }
  }
}


//--------------FEATURES-MAIN---------------
.features-main {
  &__container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-template-areas: "item-1 item-1 item-1"
      "item-2 item-2 item-3"
      "item-4 item-5 item-6"
    ;
    grid-column-gap: 4rem;
    grid-row-gap:2rem;

    @include respond(tab-land) {
      grid-template-columns: 1fr;
      grid-template-areas: "item-1"
                           "item-2"
                           "item-3"
                           "item-4"
                           "item-5"
                           "item-6"

      
     }


    & >* {
      display: flex;
      align-items: center;
      gap: 2rem;
      box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
      padding: 3.5rem 2rem;
      font-size: 1.6rem;
      border-radius: 9px;
    }
   
  }

  &__item-1 {
    grid-area: item-1;
  }

  &__item-2 {
    grid-area: item-2;
  }

  &__item-3 {
    grid-area: item-3;
  }

  &__item-4 {
    grid-area: item-4;
  }

  &__item-5 {
    grid-area: item-5;
  }

  &__item-6 {
    grid-area: item-6;
  }

}

//--------------DOCS-MAIN---------------
.docs-main {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-gap: 2rem;

  @include respond(tab-land) {
    grid-template-columns: 1fr;
  }

  & > * {
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
    padding: 2rem 0;
    border-radius: 9px;
  }

  &__essentials {
    background-color: $color-grey-light;
    align-self: start;
    padding: 3rem;
    margin:0 1rem ;

    h3 {
      margin: 2rem 0;
    }
    
  }

  &__list {
    list-style: none;
  }

  &__link {
    &:link,&:visited{
    display: block;
    text-decoration: none;
    color:#333 ;
    font-size: 1.7rem;
    border-bottom: 1px solid #ccc ;
    padding-bottom: .5rem;
    margin-bottom: .5rem;

    &.active {
      color: $color-primary;
    }
    
  }

  &:hover,&:active {
    font-weight: bold;
  }

  }

  

  &__intro {
    grid-column: 2 / -1;
    padding: 2rem;
    font-size: 1.6rem;
    margin: 0 1rem;

    @include respond(tab-land) {
      grid-column: 1/-1;
    }
    
    h3 {
      margin: 2rem 0;
    }
  }

  &__text {
    margin: 1rem 0;
  }

  &__info {
    background-color: $color-success;
    color: #fff;
    padding: 1rem 2rem;
    margin: 1.5rem 0;
    font-weight: bold;

    i {
      margin-right: 1rem;
    }
  }

  &__requirements {
    list-style: none;

  }

  &__mac,&__npm,&__yarn {
    margin-bottom: 1rem;
  }


  pre,code {
    background-color: #333;
    color: #fff;
    padding: 1rem;
    margin-bottom: 1rem;
    font-size: 1.3rem;

  }
}